.container{
  width: 100%;
  text-align: justify;
  font-size: medium;
  margin: 5px 5px;
}
ul{
  text-align: center;
}
li{
  display: inline;
  margin: 0px 5px;
  border: 2px solid red;
  text-transform: capitalize;
}
a{
  color: brown;
  text-decoration: none;
}
a:focus{
  color: white;
  background-color: black;
}
p{
  border: 1px dashed black;
  padding: 5px;
}
p#pr1{
  border: none;
  text-transform: uppercase;
  color: greenyellow;
  text-align: center;
  background-color: blue;
}
