@font-face {
  src: url('../../assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype');
  font-family: 'Montserrat-400';
}

@font-face {
  src: url('../../assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype');
  font-family: 'Montserrat-500';
}

@font-face {
  src: url('../../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype');
  font-family: 'Montserrat-600';
}

@font-face {
  src: url('../../assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype');
  font-family: 'Montserrat-700';
}

$font-400: Montserrat-400;
$font-500: Montserrat-500;
$font-600: Montserrat-600;
$font-700: Montserrat-700;

$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$header-bg: rgba(25, 23, 32, 0.47);
$btn-warning: rgb(255, 199, 0);

$max-width: 1440px;
$min-width: 370px;

$large: 1440px;
$medium: 1200px;
$small: 850px;