@font-face {
  font-family: 'Montserrat-400';
  src: url('../assets/fonts/Montserrat/static/Montserrat-Regular.eot');
  src: url('../assets/fonts/Montserrat/static/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Montserrat/static/Montserrat-Regular.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/static/Montserrat-Regular.woff') format('woff'),
  url('../assets/fonts/Montserrat/static/Montserrat-Regular.ttf') format('truetype'),
  url('../assets/fonts/Montserrat/static/Montserrat-Regular.svg') format('svg'),;
}

@font-face {
  font-family: 'Montserrat-500';
  src: url('../assets/fonts/Montserrat/static/Montserrat-Medium.eot');
  src: url('../assets/fonts/Montserrat/static/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Montserrat/static/Montserrat-Medium.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/static/Montserrat-Medium.woff') format('woff'),
  url('../assets/fonts/Montserrat/static/Montserrat-Medium.ttf') format('truetype'),
  url('../assets/fonts/Montserrat/static/Montserrat-Medium.svg') format('svg'),;
}

@font-face {
  font-family: 'Montserrat-600';
  src: url('../assets/fonts/Montserrat/static/Montserrat-SemiBold.eot');
  src: url('../assets/fonts/Montserrat/static/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Montserrat/static/Montserrat-SemiBold.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/static/Montserrat-SemiBold.woff') format('woff'),
  url('../assets/fonts/Montserrat/static/Montserrat-SemiBold.ttf') format('truetype'),
  url('../assets/fonts/Montserrat/static/Montserrat-SemiBold.svg') format('svg'),;
}

@font-face {
  font-family: 'Montserrat-700';
  src: url('../assets/fonts/Montserrat/static/Montserrat-Bold.eot');
  src: url('../assets/fonts/Montserrat/static/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
  url('../assets/fonts/Montserrat/static/Montserrat-Bold.woff2') format('woff2'),
  url('../assets/fonts/Montserrat/static/Montserrat-Bold.woff') format('woff'),
  url('../assets/fonts/Montserrat/static/Montserrat-Bold.ttf') format('truetype'),
  url('../assets/fonts/Montserrat/static/Montserrat-Bold.svg') format('svg'),;
}