@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;


body { 
  font-family: var.$font-400, sans-serif;
}

.upper-title {
  font-size: 16px;
  line-height: 19.5px;
  color: color.$baltic-sea;

  &--bottom { 
    margin-bottom: 85px; 
  }
  
  &--header {
    font-family: var.$font-500;
    letter-spacing: 1px;
    color: color.$white;

    @include mixin.mediaQuery(var.$mobile) {
      color: color.$black;
    }
  }
}



.sub-title {
  font-size: 14px;
  line-height: 17px;
  color: color.$black;

  &--font {
    margin-top: 19px;
    margin-left: 3px;
    font-size: 40px;
    line-height: 55px;
  }
}


.title {
  margin: 7px 0;
  font-family: var.$font-700;
  font-size: 50px;
  line-height: 55px;
  color: color.$baltic-sea;

  &--header {
    margin: 13px 0px;
    font-size: 40px;
    line-height: 43px;
    color: color.$white;

    @include mixin.mediaQuery(var.$mobile) {
      font-size: 32px;
      color: color.$black;
    }
  }
  
  &--card { 
    font-family: var.$font-500;
    
    @include mixin.mediaQuery(var.$mobile) {
      font-size: 40px;
    }
  }
  
  &--uppercase { 
    text-transform: uppercase; 
  }

  @include mixin.mediaQuery(var.$desktop) {
    font-size: 40px;
  }
  @include mixin.mediaQuery(var.$tablet) {
    font-size: 35px;
  }
  @include mixin.mediaQuery(var.$mobile) {
    font-size: 32px;
  }
}



.desc {
  margin-top: 24px;
  margin-bottom: 43px;
  font-size: 14px;
  line-height: 27px;
  color: color.$black;
}

.price {
  margin-top: 27px;
  font-size: 40px;
  line-height: 49px;

  &--light {  
    color: color.$porcelain; 
  }
  
  @include mixin.mediaQuery(var.$mobile) {
    color: color.$black;
  }
}

.promo {
  font-size: 13px;
  font-family: var.$font-500;
  line-height: 20px;

  &--warning {
    color: color.$supernova; 

    @include mixin.mediaQuery(var.$mobile) {
      color: color.$black;
    }
  }
  
  &--dark { 
    color: color.$black; 
  }
  
  &--light { 
    color: color.$white; 
  }
}