@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;

.area {
  display: flex;
  position: relative;
  box-sizing: content-box;

  &--content-direction {
    justify-content: flex-end;
  }
  
  &__img {
    position: absolute;
    top: 0;
    left: 0;

    @include mixin.mediaQuery(var.$large) {
      left: -50px;
    }

    @include mixin.mediaQuery(var.$medium) {
      @include mixin.img($width: 57vw) {
        left: 0;
      }
    }
    
    @include mixin.mediaQuery(var.$small) {
      @include mixin.img;
      position: relative;
      background-color: color.$baltic-sea;
    }
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    position: relative;
  }
  
  &--reverse { 
    flex-direction: row-reverse; 
  }
  
  &--header-bg {
    background-color: color.$baltic-sea;

    @include mixin.mediaQuery(var.$small) {
      background-color: transparent;
    }
  }
  
  &--bg-product-beats {
    background-color: color.$supernova;
    background-image: url(../assets/images/layer-section-2.svg);
    background-repeat: no-repeat;
  }
  
  &--bg-product-inear { 
    background-color: color.$white-smoke; 
  }

  @include mixin.mediaQuery(var.$small) {
    flex-direction: column;
  }
}


