@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;

.card {
  max-width: 390px;
  box-sizing: content-box;
  margin: auto 18px;
  margin-top: 35px;
  background-color: color.$desert-storm;

  &__title--spacing { 
    margin-top: 23px;
  }
  
  &--size { 
    font-size: 40px; 
  }
  
  &__desc { 
    margin: 0px;
    width: 267px;
    line-height: 21px;
  }
  
  &__price {
    display: inline-block;
    font-size: 25px;
    font-family: var.$font-600;
    line-height: 31px;
    color: color.$reef-gold;

    &--spacing { 
      margin: 20px 0px; 
    }
  }
  
  &--backgroud-first {
    @include mixin.card_item($url: url(../assets/images/yellow-headphone.svg));
  }
  
  &--backgroud-second {
    @include mixin.card_item($url: url(../assets/images/black-inear.svg));
  }
  
  &--backgroud-third {
    @include mixin.card_item($url: url(../assets/images/gray-headphone.svg));
  }
  
  &--backgroud-fourth {
    @include mixin.card_item($url: url(../assets/images/gold-inear.svg), $position: bottom center);
  }
  
  &--backgroud-fifth {
    @include mixin.card_item($url: url(../assets/images/navy-inear.svg));
  }
  
  &--backgroud-sixth {
    @include mixin.card_item($url: url(../assets/images/black-inear-lightning.svg), $position: 130px bottom);
  }
}

.product-container {
  background-color: color.$milk-white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
