@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;

.carousel {
  position: absolute;
  bottom: 170px;
  right: 343px;

  &__item {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0px 5px;

    &--dark { 
      background-color: color.$black; 
    }
    
    &--muted { 
      background-color: color.$grey-goose; 
    }
  }

  @include mixin.mediaQuery(var.$tablet) {
    display: none;
  }
}