@use '../abstracts/colors' as color;


.dot__item {
  margin: 30px 4px 22px 8px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid color.$green-white;
  box-sizing: border-box;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.14);
  position: relative;

  &--light { 
    background-color: color.$white; 
  }
  
  &--light::after {
    content: "";
    height: 44px;
    width: 44px;
    border-radius: 50%;
    border: 1px solid color.$black;
    position: absolute;
    top: -5px;
    left: -6px
  }
  
  &--danger { 
    background-color: color.$pastel-red; 
  }
  
  &--dark { 
    background-color: color.$black; 
  }
}