@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {
  width: 170px;
  height: 41px;
  margin: 30px auto 17px 41px;
  padding: 12px 48px;
  font-size: 14px;
  line-height: 17.07px;
  font-family: v.$font-600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;

  &--warning {
    color: v.$black;
    background-color: v.$btn-warning;
  } 
  
  &--header {
    margin-left: 35px;
    margin-bottom: 11px;

    @include m.mediaQuery(v.$small) {
      margin-left: 20px;
    }
  }
  
  &--dark {
    color: v.$white;
    background-color: v.$black;
  }
  
  &--form {
    margin: 4px 0px;
    width: 507px;
    height: 41px;

    @include m.mediaQuery(v.$medium) {
      width: 50vw;
    }
    @include m.mediaQuery(v.$small) {
      min-width: 298px;
    }
  }
  
  &--card { 
    z-index: 1;
    margin: 15px 19px;
    padding: 12px 30px;
    width: 145px;
  }

  @include m.mediaQuery(v.$medium) {
    width: 150px;
    padding: 0;
  }
}

