@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.group { 
  display: flex; 
}

.collapse-icon {
  display: none;

  @include m.mediaQuery(v.$medium) {
    display: inline-flex;
  }
}