$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$mirage: rgba(25, 23, 32, 0.47);
$supernova: rgb(255, 199, 0);
$white-smoke: rgb(244, 244, 244);
$baltic-sea: rgb(43, 40, 53);
$desert-storm: rgb(248, 248, 249);
$reef-gold: rgb(157, 130, 32);
$milk-white: rgb(251, 252, 255);
$grey-goose: rgb(209, 209, 209);
$green-white: rgb(234, 234, 234);
$pastel-red: rgb(221, 86, 86);
$pink-swan: rgb(184, 184, 184);
$pale-slate: rgb(191, 191, 191);
$porcelain: rgb(242, 242, 242);
$dot-shadow :rgba(0, 0, 0, 0.14);