$font-400: Montserrat-400;
$font-500: Montserrat-500;
$font-600: Montserrat-600;
$font-700: Montserrat-700;

$max-width: 1440px;
$min-width: 370px;

$nav-index: 1;

$desktop: 1440px;
$tablet: 1200px;
$mobile: 768px;