$font-400: Montserrat-400;
$font-500: Montserrat-500;
$font-600: Montserrat-600;
$font-700: Montserrat-700;

$max-width: 1440px;
$min-width: 370px;

$nav-index: 1;

//naming devices
$large: 1440px;
$medium: 1200px;
$small: 768px;