@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;


.footer-container {
  background-color: color.$baltic-sea;
}

.footer {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;

  &--flex {
    display: flex;

    @include mixin.mediaQuery(var.$desktop) {
      justify-content: center;
    }
    @include mixin.mediaQuery(var.$mobile) {
      flex-direction: column;
    }
  }
  
  &__list {
    padding-top: 55px;
    padding-left: 34px;
    margin: 0px 44px;
    list-style-type: none;
    
    @include mixin.mediaQuery(var.$tablet) {
      margin: 0px 0px;
    }
    @include mixin.mediaQuery(var.$mobile) {
      margin: 0;
      padding: 25px 13px;
      border-bottom: 1px solid color.$black;
    }
    
    &--decorate {
      @include mixin.mediaQuery(var.$mobile) {
        border-bottom: none;
      }
    }

  }
  
  &__logo {
    padding-bottom: 80px;

    @include mixin.mediaQuery(var.$mobile) {
      @include mixin.spacing_section($top: 30px, $bottom: 25px);
      max-width: 50px;
      align-self: center;
    }
  }
  
  &__title { 
    text-transform: capitalize;
    text-decoration: none;
    font-family: var.$font-600;
    font-size: 24px;
    line-height: 31px;
    color: color.$white;
  }
  
  &__item {
    color: color.$pink-swan;
    font-family: var.$font-500;
    font-size: 12px;
    line-height: 22px;
  
    &--pd {
      padding-top: 6px;
      padding-bottom: 28px;
    }
    
    &--line { 
      line-height: 14.63px;
      margin: 0px auto;
      padding-top: 70px;
      padding-bottom: 20px;
    }
    
    &--link {
      text-decoration: none;
      text-transform: uppercase;

      @include mixin.mediaQuery(var.$mobile) {
        display: none;
      }
    }

    &--state {
      @include mixin.mediaQuery(var.$mobile) {
        display: block;
      }
    }
  }
}