@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;


.form {
  margin: 33px auto 88px auto;
  background-color: color.$desert-storm;
  max-width: 1252px;
  width: 100%;

  &__content {
    padding: 22px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__title--spacing { 
    margin: 0px auto;
    margin-bottom: 17px;
  }
  
  &__subtitle--bottom {
    margin-bottom: 47px;
    
    @include mixin.mediaQuery(var.$small) {
      text-align: center;
      margin: 0 34px;
      margin-bottom: 30px;
    }
  }
  
  &__input {
    margin-bottom: 15px;
    border: 1px solid color.$pale-slate;
    border-radius: 18px;
    width: 507px;
    height: 36px;

    &::placeholder {
      padding-left: 20px;
      font-size: 14px;
      line-height: 17px;
    }

    @include mixin.mediaQuery(var.$medium) {
      width: 500px;
    }
    @include mixin.mediaQuery(var.$small) {
      width: 300px;
    }
  }
}


