@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;

.header {
  width: 100%;
  position: relative;

  &--container {
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 94px;
    padding-bottom: 10px;
    position: absolute;
    z-index: var.$nav-index;
    max-width: var.$max-width;
    background-color: color.$mirage;

    @include mixin.mediaQuery(var.$large) {
      @include mixin.spacing_section($left: 20px, $right: 20px, $top: 10px, $bottom: 10px);
    }

    @include mixin.mediaQuery(var.$medium) {
      background-color: transparent;
    }
  }
}