@use '../abstracts/variables' as var;
@use '../abstracts/mixins' as mixin;
@use '../abstracts/colors' as color;


.navbar {
  display: flex;
  justify-content: space-between;
}

.collapse-icon {
  display: none;

  @include mixin.mediaQuery(var.$medium) {
    display: inline-flex;
  }
}

.list { 
  list-style-type: none; 
  padding-top: 19px;
  padding-left: 73px;

  &__item {
    display: inline-block;
    padding: 0px 49px;

    &--link {
      color: color.$white;
      padding: 5px 5px;
      font-size: 15px;
      font-family: var.$font-500;
      line-height: 18px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
    }

    @include mixin.mediaQuery(var.$large) {
      padding: 0 45px;
    }

  }
  
  &--spacing {
    padding-top: 14px;
    padding-left: 60px;
  }
  
  &__icon { 
    display: inline-block;
    padding: 0px 16px;
  }
  
  &__account-icon--padding {
    padding: 0px 21px;
  }
  
  &__icon--padding {
    padding: 5px 5px;
  }

  @include mixin.mediaQuery(var.$large) {
    padding-left: 10px;
  }

  @include mixin.mediaQuery(var.$medium) {
    display: none;
  }
}


