@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body { 
  font-family: 'Montserrat', sans-serif; 
  box-sizing: border-box;
}

header {
  width: 100vw;
  height: 616px;
  background-color: rgba(43, 40, 53, 1);
  position: relative;
}





/*------------------------------------*\
  #NAV
\*------------------------------------*/

nav {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 78px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(25, 23, 32, 0.4676);
}

.nav__logo { margin: 14px auto 14px 100px; }

.nav__list { list-style-type: none; }

.nav__item {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  margin-left: 100px;
  size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__item--group { margin-left: 50px; }

.nav__item--margin-right { margin-right: 95px; }





/*------------------------------------*\
  #BLOCK
\*------------------------------------*/

.block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.block--reverse { flex-direction: row-reverse; }

.block__col { 
  width: 508px;
  height: auto;
}

.block__section {
  width: 100vw;
  height: 844px;
}

.block__section--bg {
  background-color: rgba(255, 199, 0, 1);
  background-image: url(../assets/images/layer_section-2.svg);
  background-repeat: no-repeat;
}

.block__section--bg-white { background-color: rgba(244, 244, 244, 1); }





/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.btn {
  width: 170px;
  height: 41px;
  margin: 31px auto 14px 34px;
  padding: 12px 48px;
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn--yellow { 
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 199, 0, 1);
}

.btn--black {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.btn--form {
  margin: 0;
  padding: 0;
  width: 507px;
  height: 41px;
}





/*------------------------------------*\
  #CONTENT-BLOCK
\*------------------------------------*/

.up-title {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: rgba(43, 40, 53, 1);
}

.up-title--margin { margin-bottom: 70px; }

.up-title--header {
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: rgba(3, 3, 3, 1);
}

.sub-title--font {
  margin: 13px 0px;
  font-size: 40px;
  line-height: 55px;
}

.title {
  position: relative;
  margin: 7px 0px;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: rgba(43, 40, 53, 1);
}

.title--white { color: white; }

.title--header {
  width: 508px;
  height: 86px;
  margin: 13px 0px;
  font-size: 40px;
  line-height: 43px;
  color: rgba(255, 255, 255, 1);
}

.title--card { font-weight: 500; }

.desc {
  margin-bottom: 43px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27.01px;
  color: rgba(3, 3, 3, 1);
}

.price {
  margin: 27px 0px 14px 0px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.76px;
}

.price--header { 
  color: rgba(242, 242, 242, 1); 
}

.price--black { color: rgba(0, 0, 0, 1); }

.price--card {
  font-size: 25px;
  font-weight: 600;
  line-height: 30.48px;
  color: rgba(157, 130, 32, 1);
}

.promo {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.62px;
}

.promo--header {
  margin: 0px 0px;
  color: rgba(255, 199, 0, 1); 
}

.promo--black { color: rgba(0, 0, 0, 1); }

.promo--white { color: rgba(255, 255, 255, 1); }





/*------------------------------------*\
  #IMAGE
\*------------------------------------*/

.image { display: block; }





/*------------------------------------*\
  #FORM
\*------------------------------------*/

.form-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 34px auto 64.19px auto;
  background-color: rgba(248, 248, 249, 1);
  width: 1253px;
  height: 334.81px;
  text-align: center;
}

.form__title { margin: 52px auto 17px auto; }

.form__sub-title { margin-bottom: 47px; }

.input-text {
  margin-bottom: 19px;
  border: 1px solid #BFBFBF;
  border-radius: 18px;
  width: 507px;
  height: 36px;
}

.input-text::placeholder {
  font-weight: 400;
  size: 14px;
  line-height: 17.07px;
}



/*------------------------------------*\
  #CARD
\*------------------------------------*/

.product-container {
  background-color: rgba(251, 252, 255, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-top: 34px;
  padding-left: 49px;
  width: 390px;
  height: 560px;
  background-color: rgba(248, 248, 249, 1);
}

.card--padding-left { padding-left: 22px; }

.card__img { 
  width: 393px;
  height: 323px;
}

.card__title { margin: 0px; }

.card__title--hidden { visibility: hidden; }

.card__desc { 
  margin: 0px;
  width: 267px;
}

.card__price { margin: 21px 0px; }

.card__btn { margin: 15px 21px; }





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.grid-container {
  background-color: rgba(43, 40, 53, 1);
  width: 1440px;
  height: 343.81px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.grid-item {
  color: white;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
}

ul > li {
  list-style-type: none;
  text-transform: uppercase;
}






/*------------------------------------*\
  #OTHERS
\*------------------------------------*/

.dot {
  margin: 19px 13px 24px 0px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgba(234, 234, 234, 1);
  box-sizing: border-box;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.135817);
}

.dot--white { background-color: rgba(255, 255, 255, 1); }

.dot--red { background-color: rgba(221, 86, 86, 1); }

.dot--black { background-color: rgba(0, 0, 0, 1); }

.group { display: flex; }

.sup { 
  position: absolute;
  top: -35px;
}