@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body { 
  font-family: 'Montserrat', sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 1440px;
}

.head {
  height: 616px;
  background-color: rgba(43, 40, 53, 1);
  position: relative;
}





/*------------------------------------*\
  #NAV
\*------------------------------------*/

.navbar {
  position: fixed;
  z-index: 2;
  height: 78px;
  width: 1440px;
  display: flex;
  background: rgba(25, 23, 32, 0.47);
}

.navbar__logo { 
  margin: 13px 94px; 
}

.list { 
  margin: 0px -20px;
  list-style-type: none; 
}

.list__item {
  display: inline-block;
  margin: 32px 49px;
}

.list__item--link {
  color: rgba(255, 255, 255, 1);
  padding: 5px 5px;
  font-size: 15px;
  font-weight: 500;
  line-height: 18.29px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1.91px;
}

.list--margin {
  margin-left: 79px;
}

.list__icon { 
  display: inline-block;
  margin: 27px 16px;
}

.list__icon--padding {
  padding: 5px 5px;
}






/*------------------------------------*\
  #area
\*------------------------------------*/

.area {
  display: flex;
  position: relative;
  justify-content: start;
  align-items: center;
}

.area__item {
  display: flex;
  flex-direction: column;
  position: relative;
}

.area--reverse { 
  flex-direction: row-reverse; 
}

.area--size { 
  height: 844px; 
}

.area--bg-section-2 {
  background-color: rgba(255, 199, 0, 1);
  background-image: url(../assets/images/layer_section-2.svg);
  background-repeat: no-repeat;
}

.area--bg-section-3 { 
  background-color: rgba(244, 244, 244, 1); 
}

.area__image {
  flex-shrink: 0;
  padding-top: 4px;
  padding-right: 54px;
}

.area__image--reset {
  padding: 0;
}

.head .area .content--area {
  padding: 0;
  position: absolute;
  top: 200px;
  right: 135px;
}





/*------------------------------------*\
  #BUTTON
\*------------------------------------*/

.btn {
  width: 170px;
  height: 41px;
  margin: 30px auto 17px 41px;
  padding: 12px 48px;
  font-size: 14px;
  line-height: 17.07px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  border-radius: 100px;
  border: none;
  cursor: pointer;
}

.btn--yellow { 
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 199, 0, 1);
}

.btn--header-margin {
  margin-left: 35px;
}

.btn--black {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.btn--form {
  margin: 2px 0px;
  width: 507px;
  height: 41px;
}

.btn--card { 
  z-index: 1;
  margin: 15px 23px;
  padding: 12px 30px;
  width: 145px;
}





/*------------------------------------*\
  #TEXT
\*------------------------------------*/

.upper-title {
  margin: 0px 0px 0px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  color: rgba(43, 40, 53, 1);
}

.upper-title--margin-bottom { 
  margin-bottom: 86px; 
}

.upper-title--header {
  font-weight: 500;
  letter-spacing: 1px;
  color: rgba(255, 255, 255, 1);
}

.sub-title {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: rgba(3, 3, 3, 1);
}

.sub-title--font {
  margin: 19px 0px 0px 3px;
  font-size: 40px;
  line-height: 55px;
}

.title {
  position: relative;
  margin: 7px -2.56px;
  font-weight: 700;
  font-size: 50px;
  line-height: 55px;
  color: rgba(43, 40, 53, 1);
}

.title--white { 
  color: rgba(255, 255, 255, 1); 
}

.title--header {
  width: 508px;
  height: 86px;
  margin: 13px 0px;
  font-size: 40px;
  line-height: 43px;
  color: rgba(255, 255, 255, 1);
}

.title--card { 
  font-weight: 500; 
}

.title--uppercase { 
  text-transform: uppercase; 
}

.desc {
  margin: 24px 0px 43px -2px;
  font-size: 14px;
  font-weight: 400;
  line-height: 27.01px;
  color: rgba(3, 3, 3, 1);
}

.price {
  margin: 27px 0px 0px 0px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48.76px;
}

.price--white {  
  color: rgba(242, 242, 242, 1); 
}

.price--black { 
  color: rgba(0, 0, 0, 1); 
}


.promo {
  font-size: 13px;
  font-weight: 500;
  line-height: 19.62px;
}

.promo--header {
  margin: -3px 0px;
  color: rgba(255, 199, 0, 1); 
}

.promo--black { 
  color: rgba(0, 0, 0, 1); 
}

.promo--white { 
  color: rgba(255, 255, 255, 1); 
}





/*------------------------------------*\
  #FORM
\*------------------------------------*/

.form-container {
  margin: 33px auto 64.19px auto;
  background-color: rgba(248, 248, 249, 1);
  width: 1253px;
  height: 334.81px;
}

.form__content {
  padding: 51px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__title--margin { 
  
  margin: 0px auto 17px auto; 

}

.form__subtitle--bottom { 
  
  margin: 0px 0px 47px 0px; 

}

.form__input {
  margin-bottom: 15px;
  border: 1px solid #BFBFBF;
  border-radius: 18px;
  width: 507px;
  height: 36px;
}

.form__input::placeholder {
  padding-left: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17.07px;
}



/*------------------------------------*\
  #CARD
\*------------------------------------*/

.product-container {
  background-color: rgba(251, 252, 255, 1);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  box-sizing: border-box;
  margin: 35px 18px auto 18px;
  padding-left: 49px;
  width: 393px;
  height: 560px;
  background-color: rgba(248, 248, 249, 1);
}

.card--padding-left { 
  padding-left: 22px; 


}

.card__holder { 
  position: relative;
  height: 325px;
}

.card__title--margin { 
  margin: 26px 0px 2px -2px; 
}

.card--hidden { 
  visibility: hidden; 
}

.card--size { 
  font-size: 40px; 
}

.card__desc { 
  margin: 0px -2px;
  width: 267px;
  line-height: 21.01px;
}

.card__title--margin { 
  margin: 26px 0px 2px -2px; 
}

.card__price {
  display: inline-block;
  font-size: 25px;
  font-weight: 600;
  line-height: 30.48px;
  color: rgba(157, 130, 32, 1);
}

.card__price--margin { 
  margin: 21px -2px; 
}

.card:nth-child(1) .card__img {
  position: absolute;
  top: -4px;
  left: 2px;
}

.card:nth-child(2) .card__img {
  position: absolute;
  top: -61px;
  left: -50px;
}

.card:nth-child(3) .card__img {
  position: absolute;
  top: 21px;
  left: 10px;
}

.card:nth-child(4) .card__img {
  position: absolute;
  top: 38px;
  left: 51px;
}

.card:nth-child(5) .card__img {
  position: absolute;
  top: -19px;
  left: 5px;
}

.card:nth-child(6) .card__img {
  position:  absolute;
  top: 98px;
  left: 76px;
}





/*------------------------------------*\
  #FOOTER
\*------------------------------------*/

.grid{
  background-color: rgba(43, 40, 53, 1);
  height: 343.81px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  padding: 55px 127px;
}

.grid__logo {
  position: absolute;
  left: 135px;
  top: 54px;
}

.grid__item--title { 
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 600;
  font-size: 24px;
  line-height: 31px;
  color: rgba(255, 255, 255, 1);
}

.grid__item {
  padding-left: 0px;
  color: rgba(184, 184, 184, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
}

.grid__item--line { 
  grid-column: 1 / 6; 
  line-height: 14.63px;
  grid-row-end: 6;
  margin-left: auto;
  margin-right: auto;
  padding: 47px 0px;
}

.grid__item > ul {
  margin: -1px -41px 22px -108px;
  list-style-type: none;
}

.grid__item--link {
  text-decoration: none;
  color: rgba(184, 184, 184, 1);
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  text-transform: uppercase;
}





/*------------------------------------*\
  #CONTENT
\*------------------------------------*/

.content--area {
  padding-top: 11px;
  padding-left: 93px;
  flex: 1 1 40%;
}

.area:nth-child(3) .content--area {
  padding: 0;
  padding-left: 35px;
  padding-bottom: 8px;
}

.area:nth-child(3) .area__image {
  padding: 0;
  padding-left: 49px;
  padding-bottom: 28px;
}

.area:nth-child(4) .content--area {
  padding: 0;
  padding-bottom: 89px;
  padding-left: 94px;
}

.area:nth-child(4) .area__image {
  padding: 0;
  padding-bottom: 29px;
  padding-right: 25px;
}

.content--card {
  width: fit-content;
  height: 235px;
}

.area:first-child .area__image {
  background-color: red;
  padding: 0;
}




/*------------------------------------*\
  #OTHERS
\*------------------------------------*/

.dot__item {
  margin: 30px 4px 22px 8px;
  height: 37px;
  width: 37px;
  border-radius: 50%;
  display: inline-block;
  border: 1px solid rgba(234, 234, 234, 1);
  box-sizing: border-box;
  box-shadow: 0px 2px 1px 1px rgba(0, 0, 0, 0.135817);
  position: relative;
}

.dot__item--white { 
  background-color: rgba(255, 255, 255, 1); 
}

.dot__item--white::after {
  content: "";
  height: 44px;
  width: 44px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 1);
  position: absolute;
  top: -5px;
  left: -6px
}

.dot__item--red { 
  background-color: rgba(221, 86, 86, 1); 
}

.dot__item--black { 
  background-color: rgba(0, 0, 0, 1); 
}

.carousel {
  position: absolute;
  bottom: 126px;
  right: 397px;
}

.carousel__item {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  display: inline-block;
  margin: 0px 5px;
}

.carousel__item--black { 
  background-color: rgba(0, 0, 0, 1); 
}

.carousel__item--gray { 
  background-color: rgba(209, 209, 209, 1); 
}

.group { 
  display: flex; 
}