@use '../utils/variables';

.form {
  margin: 33px auto 88.19px auto;
  background-color: rgb(248, 248, 249);
  max-width: 1252px;
  width: 100%;

  &__content {
    padding: 22px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  &__title--spacing { 
    margin: 0px auto;
    margin-bottom: 17px;
  }
  
  &__subtitle--bottom {
    margin-bottom: 47px;
  }
  
  &__input {
    margin-bottom: 15px;
    border: 1px solid #BFBFBF;
    border-radius: 18px;
    width: 507px;
    height: 36px;

    &::placeholder {
      padding-left: 20px;
      font-family: v.$font-400;
      font-size: 14px;
      line-height: 17.07px;
    }
  }
}


