@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.header {
  width: 100%;
  position: relative;

  &--container {
    box-sizing: border-box;
    padding-top: 13px;
    padding-left: 94px;
    padding-bottom: 10px;
    position: fixed;
    z-index: 2;
    max-width: v.$max-width;
    background-color: v.$header-bg;

    @include m.mediaQuery(v.$large) {
      @include m.spacing_section($left: 6vw, $right: 6vw);
    }

    @include m.mediaQuery(v.$medium) {
      background-color: transparent;
    }
  }
}