@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.navbar {
  display: flex;
  justify-content: space-between;
}

.list { 
  list-style-type: none; 
  padding-top: 19px;
  padding-left: 73px;

  &__item {
    display: inline-block;
    padding: 0px 49px;

    &--link {
      color: v.$white;
      padding: 5px 5px;
      font-size: 15px;
      font-family: v.$font-500;
      line-height: 18.29px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 1.91px;
    }

    @include m.mediaQuery(v.$large) {
      padding: 0 3vw;
    }

  }
  
  &--spacing {
    padding-top: 14px;
    padding-left: 60px;

    @include m.mediaQuery(v.$large) {
      padding-left: 1vw;
    }
  }
  
  &__icon { 
    display: inline-block;
    padding: 0px 16px;
  }
  
  &__account-icon--padding {
    padding: 0px 21px;
  }
  
  &__icon--padding {
    padding: 5px 5px;
  }

  @include m.mediaQuery(v.$large) {
    padding-left: 0.5vw;
  }

  @include m.mediaQuery(v.$medium) {
    display: none;
  }
}


