@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;


.wrapper {
  margin: 0 auto;
  max-width: v.$max-width;
  min-width: v.$min-width;
  width: 100%;
}

.group { 
  display: flex; 
}

.pd-product-speaker {
  @include m.spacing_section($left: 93px, $right: 54px);

  @include m.mediaQuery(v.$large) {
    @include m.spacing_section($left: 4vw, $right: 4vw);
  }
  @include m.mediaQuery(v.$medium) {
    @include m.spacing_section($left: 2vw, $right: 1vw);
  }
}

.pd-product-beats {
  @include m.spacing_section($left: 49px, $right: 145px);

  @include m.mediaQuery(v.$large) {
    @include m.spacing_section($left: 4vw, $right: 4vw);
  }
  @include m.mediaQuery(v.$medium) {
    @include m.spacing_section($left: 2vw, $right: 1vw);
  }
}

.pd-product-inear {
  @include m.spacing_section($left: 93px, $right: 25px);

  @include m.mediaQuery(v.$large) {
    @include m.spacing_section($left: 4vw, $right: 4vw);
  }
  @include m.mediaQuery(v.$medium) {
    @include m.spacing_section($left: 2vw, $right: 1vw);
  }
}

.pd-content-product-speaker {
  @include m.spacing_section($top: 225px, $bottom: 230px);

  @include m.mediaQuery(v.$medium) {
    @include m.spacing_section($top: 160px, $bottom: 90px);
  }
  @include m.mediaQuery(v.$small) {
    @include m.spacing_section($top: 0, $bottom: 91px);
  }
}

.pd-content-product-beats {
  @include m.spacing_section($left: 35px, $top: 235px, $bottom: 245px);

  @include m.mediaQuery(v.$medium) {
    @include m.spacing_section($top: 120px, $bottom: 70px);
  }
  @include m.mediaQuery(v.$small) {
    @include m.spacing_section($top: 0, $bottom: 35px, $left: 0);
  }
}

.pd-content-product-inear {
  @include m.spacing_section($top: 206px, $bottom: 294px);

  @include m.mediaQuery(v.$medium) {
    @include m.spacing_section($top: 100px, $bottom: 110px);
  }
  @include m.mediaQuery(v.$small) {
    @include m.spacing_section($top: 40px, $bottom: 55px);
  }
}

.pd-img-product-speaker {
  @include m.spacing_section($top: 47px);

  @include m.mediaQuery(v.$medium) {
    @include m.img($width: 57vw)
  }
  @include m.mediaQuery(v.$small) {
    @include m.img;
    @include m.spacing_section($top: 0);
  }
}

.pd-img-product-beats {
  @include m.spacing_section($bottom: 28px);

  @include m.mediaQuery(v.$medium) {
    @include m.img($width: 57vw)
  }
  @include m.mediaQuery(v.$small) {
    @include m.img;
  }
}

.pd-img-product-inear {
  @include m.spacing_section($bottom: 29px);

  @include m.mediaQuery(v.$medium) {
    @include m.img($width: 57vw);
  }
  @include m.mediaQuery(v.$small) {
    @include m.img;
    @include m.spacing_section($top: 40px);
  }
}

.pd-footer {
  @include m.spacing_section($left: 135px, $right: 93px);
  @include m.mediaQuery(v.$large) {
    @include m.spacing_section($left: 1vw, $right: 1vw);
  }
  
}
